<div class="wrapper bg-light lt b-b pc-50 btn-group-forqiban">
  <ul class="tongxunlu-tabs" role="tablist" style="text-align: left;margin: 0;">
    <li class="">
      <a routerLink="my-project" routerLinkActive="active">我的项目</a>
    </li>
    <li>
      <a routerLink="my-task" routerLinkActive="active">我的任务</a>
    </li>
    <li>
      <a routerLink="project-statics" routerLinkActive="active">项目统计</a>
    </li>
  </ul>
</div>
<div class="row-row">
  <div class="cell bg-light lt b-b">
    <div class="cell-inner">
    <!--<a (click)="confirm()" class="active">1312312123</a>-->
    <router-outlet></router-outlet>
    </div>
  </div>
</div>
