<div class="wrapper bg-light lt b-b pc-50 btn-group-forqiban">
  <ul class="tongxunlu-tabs" role="tablist" style="text-align: left;margin: 0;">
    <li class="">
      <a routerLink="open" routerLinkActive="active">已开启应用</a>
    </li>
    <li>
      <a routerLink="close" routerLinkActive="active">已停用应用</a>
    </li>
    <li>
      <a routerLink="market" routerLinkActive="active">应用市场</a>
    </li>
  </ul>
</div>
<div class="row-row">
  <div class="cell bg-light lt b-b">
    <div class="cell-inner">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
