<div class="wrapper-lg tab-hide active">
	<ul class="no-padding clearfix row application_list">
		<li *ngFor="let item of appliactionList" class="clearfix">
			<div class="pull-left">
				<img src="{{baseUrl}}{{item.icon}}">
			</div>
			<div class="pull-left m-l">
				<h3>{{item.name}}</h3>
				<p class="color-aaa no-margin">{{item.desc}}</p>
			</div>
			<a (click)="closeApp(item.id)" class="btn m-b-xs btn-default pull-right mt6 color-aaa">停用</a>
		</li>
		<!--<li class="clearfix">
			<div class="pull-left">
				<img src="assets/images/avatar.png">
			</div>
			<div class="pull-left m-l">
				<h3>审批</h3>
				<p class="color-aaa">贵金属的感觉是梵蒂冈复古风格个地方官的郭德纲是否</p>
			</div>
			<button class="btn m-b-xs btn-default pull-right mt10 color-40a7ff b-c-40a7ff">停用</button>
		</li>-->
	</ul>
</div>