<div class="wrapper-md">
    <div class="m-b-md">
        <div class="project">
            <ul class="clearfix no-margin no-padding project_tab" role="tablist">
                <li class="active"><a>表单定义</a></li>
                <li><a>流程定义</a></li>
            </ul>
        </div>
    </div>
    <div class="m-b-sm clearfix">
        <div class="form-inline pull-left">
            <div class="form-group">
                <input type="text" class="form-control no-border" style="width: 200px;" placeholder="表单名称...">
            </div>
            <button class="btn btn-primary">搜索</button>

        </div>
        <div class="pull-right form-inline">
			<div class="form-group">
				<a class="btn btn-bg btn-primary">
		          <i class="fa fa-plus text"></i>
		          <span class="text">新建</span>
		        </a>
			</div>
		</div>
    </div>
    <div class="panel panel-table-style">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th style="width:60px;">序号</th>
						<th>表单名称</th>
						<th style="width:230px;">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>少时诵诗书所</td>
						<td>
                            <a class="text-primary m-r-sm">编辑</a>
							<a class="text-primary m-r-sm">启用</a>
							<a class="m-r-sm">停用</a>
							<a class="text-primary">删除</a>
                        </td>
					</tr>
                    <tr>
						<td>1</td>
						<td>少时诵诗书所</td>
						<td>
                            <a class="text-primary m-r-sm">编辑</a>
							<a class="text-primary m-r-sm">启用</a>
							<a class="m-r-sm">停用</a>
							<a class="text-primary">删除</a>
                        </td>
					</tr>
                    <tr>
						<td>1</td>
						<td>少时诵诗书所</td>
						<td>
                            <a class="text-primary m-r-sm">编辑</a>
							<a class="text-primary m-r-sm">启用</a>
							<a class="m-r-sm">停用</a>
							<a class="text-primary">删除</a>
                        </td>
					</tr>
                    <tr>
						<td>1</td>
						<td>少时诵诗书所</td>
						<td>
                            <a class="text-primary m-r-sm">编辑</a>
							<a class="text-primary m-r-sm">启用</a>
							<a class="m-r-sm">停用</a>
							<a class="text-primary">删除</a>
                        </td>
					</tr>
                    <tr>
						<td>1</td>
						<td>少时诵诗书所</td>
						<td>
                            <a class="text-primary m-r-sm">编辑</a>
							<a class="text-primary m-r-sm">启用</a>
							<a class="m-r-sm">停用</a>
							<a class="text-primary">删除</a>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>