<div class="wrapper bg-light lt b-b pc-50 btn-group-forqiban  text-center">
    <button (click)='back()' class="btn m-b-xs btn-default pull-left" style="padding: 0 10px;">
        <i class="icon-action-undo "></i>
    </button>
    <div class="display-block">发起发文</div>
</div>
<div class="row-row">
    <div class="cell bg-light lt">
        <div class="cell-inner">
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>表单选择</label>
                            <select name="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>流程选择</label>
                            <select name="" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label>公文标题</label>
                        <input class="form-control" placeholder="请填写项目名称" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label>公文说明</label><br>
                        <div class="form-group">
                            <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="btn btn-primary btn-block" style="width: 50%;margin: 50px auto 0;">保存并继续</div>
                </div>
            </div>
        </div>
    </div>
</div>