<div class="wrapper bg-light lt b-b pc-50 btn-group-forqiban">
    <ul class="tongxunlu-tabs" role="tablist" style="text-align: left;margin: 0;">
        <li class="">
            <a routerLink="initiate-grass" routerLinkActive="active">发起草文</a>
        </li>
        <li>
            <a routerLink="receiving-registration" routerLinkActive="active">收文登记</a>
        </li>
        <li>
            <a routerLink="document-processing" routerLinkActive="active">公文办理</a>
        </li>
        <li>
            <a routerLink="document-management" routerLinkActive="active">公文管理</a>
        </li>
        <li>
            <a routerLink="query-statistics" routerLinkActive="active">查询统计</a>
        </li>
        <li>
            <a routerLink="parameter-setting" routerLinkActive="active">参数设置</a>
        </li>
        <li>
            <a routerLink="document-preview" routerLinkActive="active">发文预览</a>
        </li>
        <li>
            <a routerLink="privilege-management" routerLinkActive="active">权限管理</a>
        </li>
    </ul>
</div>
<div class="row-row">
    <div class="cell bg-light lt b-b">
        <div class="cell-inner">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>