<div class="wrapper-lg tab-hide active">
  <div class="row" style="width: 500px;margin: 0 auto;">
    <form #modifyPassForm="ngForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group col-lg-12">
        <label>当前密码</label><br>
        <input required [(ngModel)]="formModify.oldPass" class="form-control" [rangeLength]="[6, 20]" type="password" name="oldpass" #oldpass="ngModel" >
        <span class="text-danger" *ngIf="oldpass.errors?.rangeLength">密码长度在6-20个之间</span>
      </div>
      <div class="form-group col-lg-12">
        <label>新密码</label><br>
        <input required [(ngModel)]="formModify.newPass" class="form-control" [rangeLength]="[6, 20]" type="password" name="newpass" #newpass="ngModel" >
        <span class="text-danger" *ngIf="newpass.errors?.rangeLength">密码长度在6-20个之间</span>
      </div>
      <div class="form-group col-lg-12">
        <label>确认密码</label><br>
        <input required [(ngModel)]="formModify.cnewPass" class="form-control" [rangeLength]="[6, 20]" type="password" [equalTo]="newpass" name="cnewpass" #cnewpass="ngModel" >
        <span class="text-danger" *ngIf="cnewpass.errors?.equalTo">两次密码输入不一致</span>
      </div>
      <div class="text-center col-lg-12 m-t-lg">
        <button type="submit" [disabled]="!modifyPassForm.form.valid || loading" class="btn btn-primary btn-block">保存</button>
      </div>
    </form>
  </div>
</div>