<div class="wrapper-md tab-hide active">
	<div class="panel panel-table-style">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>分类</th>
						<th style="width:130px;">权限</th>
						<th style="width:100px;">授权数</th>
						<th style="width:130px;">授权人</th>
						<th style="width:100px;">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>啦啦啦啦啦啦</td>
                        <td>参数设置</td>
                        <td>0</td>
                        <td>
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                        </td>
                        <td>
                            <a class="text-primary m-r-sm">编辑</a>
                        </td>
					</tr>
                    <tr>
						<td>啦啦啦啦啦啦</td>
                        <td>参数设置</td>
                        <td>0</td>
                        <td>
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                        </td>
                        <td>
                            <a class="text-primary m-r-sm">编辑</a>
                        </td>
					</tr>
                    <tr>
						<td>啦啦啦啦啦啦</td>
                        <td>参数设置</td>
                        <td>0</td>
                        <td>
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                            <img src="assets/images/example/touxiang.jpg">
                        </td>
                        <td>
                            <a class="text-primary m-r-sm">编辑</a>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>